@font-face {
  font-family: 'Marcellus';
  src: url('https://i.wlycdn.com/articles/Marcellus-regular-font-.ttf');
}
@font-face {
  font-family: 'DM Serif Display';
  src: url('https://i.wlycdn.com/articles/dm-serif-display-regular.ttf');
}

.desktop_container {
  @media screen and (min-width: 1024px) {
    max-width: 1100px;
    margin: auto;
  }
}

.desktop_footer_btn {
  @media screen and (min-width: 1024px) {
    max-width: 1100px;
  }
}

.mobile-floating-footer-btn {
  @media screen and (max-width: 780px) {
    max-width: 300px;
    transform: translate(-50%);
    left: 50%;
  }
}

body,
html {
  font-family: 'Maven Pro';
  padding: 0;
  margin: 0;
  font-size: 16px;
  @media only screen and (min-width: 1024px) {
    font-size: 22px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Mutual Funds switch styles
.mf-switch-connect-with-partner-btn {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
  border-radius: 51px !important;
  margin-top: 1.5rem;
  max-width: 14rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mf-switch-footer-wrapper {
  @media (min-width: 1024px) {
    width: 100% !important;
    position: sticky !important;
    right: 0 !important;
    bottom: 0 !important;
    left: unset !important;
    padding: 0 !important;
    background: transparent !important ;
    .call-icon-container {
      display: none;
    }
  }
}
.mf-desktop-left-section-wrapper {
  max-width: 45%;
}

.rc-dialog-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rc-dialog-mask {
  background: rgba(14, 26, 65, 0.9) !important;
}
.wl-payment-dialog {
  width: 95%;
  max-width: 500px;
  margin: auto !important;
  position: absolute;
}
.wl-payment-dialog.custom-fullscreen {
  .rc-dialog-close {
    display: none;
  }
  .rc-dialog-body {
    padding: 0;
  }
}
