[class^='wl-icon-'],
[class*=' wl-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wealthy-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wl-icon-crosshair2:before {
  content: '\e917';
}
.wl-icon-download:before {
  content: '\e918';
}
.wl-icon-file-text:before {
  content: '\e919';
}
.wl-icon-grid:before {
  content: '\e91a';
}
.wl-icon-repeat:before {
  content: '\e916';
}
.wl-icon-home:before {
  content: '\e913';
}
.wl-icon-log-out:before {
  content: '\e914';
}
.wl-icon-user:before {
  content: '\e915';
}
.wl-icon-refresh:before {
  content: '\e90b';
}
.wl-icon-bar-chart:before {
  content: '\e90c';
}
.wl-icon-arrow_drop_up:before {
  content: '\e912';
}
.wl-icon-cancel:before {
  content: '\e911';
}
.wl-icon-crosshair:before {
  content: '\e90e';
}
.wl-icon-notification:before {
  content: '\e90d';
}
.wl-icon-camera:before {
  content: '\e900';
}
.wl-icon-settings:before {
  content: '\e908';
}
.wl-icon-help-outline:before {
  content: '\e901';
}
.wl-icon-help-fill:before {
  content: '\e902';
}
.wl-icon-arrow-back:before {
  content: '\e5c4';
}
.wl-icon-check:before {
  content: '\e5ca';
}
.wl-icon-check-circle:before {
  content: '\e86c';
}
.wl-icon-close:before {
  content: '\e5cd';
}
.wl-icon-edit:before {
  content: '\e254';
}
.wl-icon-chevron-down:before {
  content: '\e313';
}
.wl-icon-chevron-up:before {
  content: '\e316';
}
.wl-icon-close-thick:before {
  content: '\e910';
}
.wl-icon-cloud-upload:before {
  content: '\e909';
}
.wl-icon-user2:before {
  content: '\e906';
}
.wl-icon-inr:before {
  content: '\f156';
}
.wl-icon-cheveron-right:before {
  content: '\e90a';
}
.wl-icon-three-dots:before {
  content: '\e903';
}
.wl-icon-help:before {
  content: '\e904';
}
.wl-icon-googleplay:before {
  content: '\e907';
  color: #607d8b;
}
.wl-icon-profile-male:before {
  content: '\e905';
}
.wl-icon-camera-fill:before {
  content: '\e90f';
}
.wl-icon-re-take:before {
  content: '\e984';
}
.wl-icon-play:before {
  content: '\ea1c';
}
.wl-icon-apple:before {
  content: '\eabe';
}
.wl-icon-lock:before {
  content: '\1f512';
}
.wl-icon-delete:before {
  content: '\01F5D1';
}
.wl-icon-email:before {
  content: '\01F4E7';
}
.wl-icon-toggle-right:before {
  content: '\02942';
}
.wl-icon-toggle-left:before {
  content: '\02943';
}
